$textColor: white;
$lightestBlue: #83d9ff;
$lightBlue: #57c6ff;
$mediumBlue: #47a2ff;
$darkBlue: #0064ff;

.continueButtonHolder {
  width: 80vw;
  display: flex;
  justify-content: flex-end;
}

.continueButton {
  background-color: $darkBlue;
  color: $textColor;
  border-radius: 20px;
  min-height: 30px;
  padding: 5px;
  margin: 5px;
  width: 100px;
  text-align: center;
  border: 0;
}
