$textColor: white;
$lightestBlue: #83d9ff;
$lightBlue: #57c6ff;
$mediumBlue: #47a2ff;
$darkBlue: #0064ff;

.option {
  color: $textColor;
  background-color: $mediumBlue;
  border: solid 1px white;
  border-radius: 5px;
  min-width: 70px;
  height: 100px;
  margin: 5px;
}
.optionSelected {
  color: $textColor;
  background-color: $mediumBlue;
  border: solid 1px white;
  border-radius: 5px;
  min-width: 70px;
  height: 100px;
  margin: 5px;
  background-color: $darkBlue;
}

.image {
  color: $textColor;
}
