$textColor: white;
$lightestBlue: #83d9ff;
$lightBlue: #57c6ff;
$mediumBlue: #47a2ff;
$darkBlue: #0064ff;

.optionsWrapper {
  display: flex;
  max-width: 60vw;
  overflow-x: auto;
  //   overflow-x: hidden; /* Hide horizontal scrollbar */
}

.scrollRight {
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  margin-top: -15%;
  right: 20%;
  color: $textColor;
  background-color: $darkBlue;
  border: none;
}
