$textColor: white;
$lightestBlue: #83d9ff;
$lightBlue: #57c6ff;
$mediumBlue: #47a2ff;
$darkBlue: #0064ff;

.main {
  overflow-y: hidden; /* Hide vertical scrollbar */
}

.headerImage {
  width: 100vw;
  height: auto;
}

.moduleWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.calendarHolder {
  background-color: $textColor;
  color: $darkBlue;
  width: 100vw;
  padding: 30px;
  border-top-left-radius: 5%;
}

.timeSlotSelection {
  justify-content: center;
}

.moduleWrapper > div {
  margin-top: 10px;
  margin-bottom: 10px;
}
