$textColor: white;
$lightestBlue: #83d9ff;
$lightBlue: #57c6ff;
$mediumBlue: #47a2ff;
$darkBlue: #0064ff;

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: $textColor;
}

body {
  background: linear-gradient(to bottom, transparent, $darkBlue, $lightBlue);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
